#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWERTY";
            bindings = <
                &mo 1 &kp B
                &kp C &kp D
            >;
        };
        alt_layer {
            label = "NUMBERS";
            bindings = <
                &trans &kp B
                &kp C &kp D
            >;
        };
    };
};


&kscan {
    // for automated inputs, uncomment if not using shell
    events = <
           ZMK_MOCK_PRESS(0,0,5000)  // change layers for 5s
           ZMK_MOCK_RELEASE(0,0,5000)
           ZMK_MOCK_PRESS(1,1,1000)  // send D for 1s
           ZMK_MOCK_RELEASE(1,1,5000)
    >;

	// for interactive shell use
    ///delete-property/ exit-after;
};

&sdl_dc {
    height = <128>;  // Zen EPD dimensions
    width = <80>;
    // height = <68>;  // nice!view dimensions
    // width = <160>;
};
